.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  color: #6b6b6f;
  padding: 10px 20px;
  margin: 15px;
  border-radius: 10px;
}

.item p {
  flex-basis: 0;
  flex-grow: 1;
}

.item button {
  width: 50px;
  height: 35px;
  background-color: #fff;
  border-radius: 25%;
  border: none;
  cursor: pointer;
  transition: 0.1s all ease-in-out;
}

.item button:hover {
  font-size: 1.5 rem;
  background-color: #304ffe;
  color: #fff;
}
